<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <form [formGroup]="loginForm" (ngSubmit)="onLogin()"> 
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="8">
      <ion-list>
        <ion-item>
          <ion-label >Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

<div class  = 'ion-text-center'>
  <ion-spinner color = 'primary'*ngIf="isLoading"></ion-spinner>
</div>

  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="8">
      <ion-button type="submit" expand="block" shape="round" 
      [disabled]="loginForm.invalid" *ngIf="!isLoading" >Log in</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="4">
      <p color = "primary">Don't have an account? <a [routerLink]="['/register']">Register here/vidi ovo nesto mi nece vrv zbog ruta ili auth gardda ili tako nesto</a></p>
    </ion-col>
  </ion-row>
  
</ion-grid>
</form>
</ion-content>
