<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="watch-list">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Watch list</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>