<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row  class="ion-justify-content-center">
    <ion-col size-sm = "4">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-col>
    <ion-col size-sm = "4">
      <ion-label position="floating">Lastname</ion-label>
      <ion-input type="text"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row  class="ion-justify-content-center">
    <ion-col size-sm = "8">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row  class="ion-justify-content-center">
    <ion-col size-sm = "8">
      <ion-button type="submit" shape="round" expand="block">Register</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
