<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
<ion-back-button defaultHref="/movie-notes/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="profile-container">
    <img *ngIf="userImage; else avatar" [src]="userImage" class="profile-picture"/>
    <ng-template #avatar>
      <ion-avatar class="profile-avatar">
        <ion-icon name="person-outline" size="large" class="profile-icon"></ion-icon>
      </ion-avatar>
    </ng-template>
  </div>
  <ion-button expand="full" (click)="takePicture()">
    {{ userImage ? 'Take New Photo' : 'Take Photo' }}
  </ion-button>
  
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col>
        <ion-label class="profile-value">Hello,  {{ name }} {{surname}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="profile-label">Email:</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="profile-value">{{ email }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
