<ion-grid>
  <ion-card class="note" color="tertiary">

  <ion-row >
    <ion-col offset="11">
      <ion-icon size="large" name="heart-outline" *ngIf="!note.isFavorite" (click)="toggleFavoriteNote()"></ion-icon>
      <ion-icon size="large" name="heart"  *ngIf="note.isFavorite" (click)="toggleFavoriteNote()"></ion-icon>
      <ion-icon size="large" name="create-outline" *ngIf="note.isNoteCreatedByCurrentUser" [routerLink]="['/', 'movie-notes', 'tabs', 'explore', note.id]"></ion-icon>
    </ion-col>
    


    <ion-col offset="1">
      <ion-title>Movie</ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size = "4" >
        <img src = '{{note.movieImageUrl}}' alt="Movie Image">
    </ion-col>
    <ion-col offset="1">
      <ion-label class="movie-title">{{note.movieTitle}}</ion-label>
      <ion-row>
        <ion-col>
          <ion-label class="movie-year">{{note.movieYear}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

<ion-row class="ion-justify-content-center">
<ion-col offset="1">
  <ion-title>Description</ion-title>
</ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <p class="note-description">{{note.description}}</p>
  </ion-col>
  </ion-row>
 </ion-card>
</ion-grid>

