<ion-card class="note">
  <ion-card-header>
    <ion-row>
      <ion-col size="auto">
        <ion-title>Note</ion-title>
      </ion-col>
      <ion-col size="auto">
        <ion-icon name="create-outline" [routerLink]="['/', 'movie-notes', 'tabs', 'explore', note.id]"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card-header>
  
  <ion-card-content>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src = '{{note.movie.imageUrl}}' alt="Movie Image">
      </ion-thumbnail>
      <ion-label>
        <h2 class="movie-title">{{note.movie.title}}</h2>
        <p class="movie-year">{{note.movie.year}}</p>
      </ion-label>
    </ion-item>
    <p></p>
    <ion-title>Description</ion-title>
    <p class="note-description">{{note.description}}</p>
    <ion-icon [name]="note.isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
    <ion-icon [name]="note.isOnWatchlist ? 'bookmark' : 'bookmark-outline'"></ion-icon>
  </ion-card-content>
</ion-card>

